@font-face {
    font-family: disney;
    src: url(/styles/fonts/waltographUI.ttf);
}
body {
    font-family: disney;
    padding: 0;
    margin: 20px;
    background: url(/images/vintagegris.jpg);
    color: #222;
}

/*.main correspond à une class qui s'appelle main*/
.main{
	width: 1000px;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.8);
	overflow: auto;
	box-shadow: 0 0 10px #333;
	border-radius: 3px;
}
h1, h2, h3 {
	font-family: disney;
}
h1{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 20px;
    line-height: 1.5em;
}
h1 a {
	color: #222;
	text-decoration: none;
}
ul{
	list-style: none;
	padding: 0;
}
header ul li a {
	padding: 10px 10px 15px;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.5);
}

header nav {
	margin-bottom: 30px;
}
header ul li a {
	color: #222;
	text-decoration: none;
}
header ul li:hover{
	background-color: rgba(255, 255, 255, 0.9);
}
header ul li:hover a {
	color: rgba(28, 115, 75, 1);
}
.macarons{
	background-image: url(/images/macarons.jpg);
}
.origamis{
	background-image: url(/images/origamis.jpg);
}
.livres{
	background-image: url(/images/book1.jpg);
}
.salade-feves{
	background-image: url(/images/salade-feves.jpg);
}
.flex-justify{
	display:flex;
	justify-content: space-around;
}
.flex-justify div{
	width: 300px;
	height: 200px;
		display: flex;
		align-items: center;
		justify-content: space-around;

}
.full-image {
	width: 930px;
	margin: 0 auto;
}
.full-image div{
	background-size: 100%;
	text-align: center;
	margin: 0 5px;
}
.full-image div > div {
	height: 200px;
}
.full-image div.slick-slide {
	border: 5px rgba(28, 115, 75, 0.3) solid;
	display: flex;
    align-items: center;
    text-align: center;
    justify-content:space-around;
}
.full-image div span{
	opacity: 0;
	transition: .20s linear;
	transition-property: transform, opacity;
	font-size: 2em;
	width: 90%;
	transform: translate(0, 50px);
}
.full-image div.slick-slide:hover span{
	opacity: 1;
	padding: 70px 0;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.7);
	transform: translate(0, 0);
}
main{
	font-family: arial;
	background-color: rgba(28, 115, 75, 0.27);
	margin-top: 40px;
	padding: 10px;
	border-top: 4px dotted rgba(255, 255, 255, 0.7);
}

main ul li {
	padding: 10px 10px 15px;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.5);
}

.red{
	color:red;
}
.actualites{
	display: flex;
	background-size: 100%;
}
.actualites img {
	width: 500px;
	display: flex;
	background-size: 100%;
}
ch-carousel {
	display: block;
	position: relative;
	height: 200px;
}
ch-carousel span {
    position: absolute;
    font-size: 7em;
    top: 30px;
    z-index: 10;
}
ch-carousel span:last-child {
    right: 0em;
}
ch-carousel .frame {
    position: relative;
    margin: 0 40px;
    background: blue;
    overflow: hidden;
    height: 170px;
}
ch-carousel .slider {
	position: absolute;
    display: flex;
    justify-content: space-between;

    width: 1571px;
}
ch-carousel .slider div {
    position: relative;
    height: 150px;
    background: red;
    width: 250px;
    padding: 10px;
    outline: 1px black solid;
    transition: 1s all linear;
}
.feves {
	background: url(/images/salade-feves.jpg);
	width: 400px;
	height: 600px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.feves span {
	padding: 2em;
	background: rgba(255, 255, 255, 0.5);
}

.cuisine {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-size: 100%;
}

.cuisine .sucre, 
.cuisine .sale {
	width: 400px;
	height: 200px;
	background-size: 100%;
	justify-content: space-around;
	display: flex;
	align-items: center;
	font-family: disney;
	color: black;
	text-decoration: none;
	font-size: 2em;
}
.cuisine .sucre {
	background-image: url(/images/sucre.jpg);
}
.cuisine .sale {
	background-image: url(/images/sel.jpg);
}
.cuisine a span {

}

.bouton-retour {
	display: inline-block;
	padding: 5px 10px;
	background: rgba(149, 167, 171, 0.84);
	color: black;
	text-decoration: none;
	border-radius: 2px;
	transition: background .25s linear;
}

.bouton-retour:hover {
	background: rgba(29, 96, 111, 0.84);
}
