@font-face {
    font-family: disney;
    src: url(/styles/fonts/waltographUI.ttf);
}
body {
    font-family: disney;
    padding: 0;
    margin: 20px;
    background: url(/images/vintagegris.jpg);
    color: #222;
  
}

/*.main correspond à une class qui s'appelle main*/
.main{
	width: 1000px;
	margin: 0 auto;
	background-color: pink;
	overflow: auto;
	box-shadow: 0 0 10px #333;
	border-radius: 3px;
}
h1{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 20px;
}
h1 a {
	color: #222;
	text-decoration: none;
}
ul{
	list-style: none;
	padding: 0;
}
ul li{
	padding: 10px;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.5);

}
header nav {
	margin-bottom: 30px;
}
header ul li a {
	color: #222;
	text-decoration: none;
}
header ul li:hover{
	background-color: rgba(255, 255, 255, 0.9);
}
header ul li:hover a {
	color: rgba(255, 0, 127, 0.84);
}
.macarons{
	background-image: url(/images/macarons.jpg);
}
.origamis{
	background-image: url(/images/origamis.jpg);
}
.livres{
	background-image: url(/images/book1.jpg);
}
.flex-justify{
	display:flex;
	justify-content: space-around;
}
.flex-justify div{
	width: 300px;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: space-around;

}
.full-image div{
	background-size: 100%;
	text-align: center;
	border: 7px solid rgba(202, 166, 166, 0.78);
}
.flex-justify div span{
	opacity: 0;
	transition: .25s all linear;
	font-size: 2em;
}
.flex-justify div:hover span{
	opacity: 1;
	padding: 70px 0;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.7);
	width: 90%;
	text-align: center;
}
main{
	font-family: arial;
	background-color: rgba(202, 166, 166, 0.78);
	margin-top: 40px;
	padding: 10px;
	border-top: 4px dotted pink;
}
.red{
	color:red;
}


